<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>Question timings for user study</title>
	<link rel="stylesheet" href="style.css">
	<script type="module" src="index.js"></script>
</head>
<body>

<header>
	<h1>Survey Analyzer</h1>

	<label>
		Survey:
		<select v-model="survey">
			<option v-for="survey in Object.keys(surveys)">{{ survey }}</option>
		</select>
		<select v-model="year">
			<option v-for="year in surveyYears">{{ year }}</option>
		</select>
	</label>
	<madata-auth id="toolbar_gh" :backend="github">GitHub:</madata-auth>
</header>


<section id="total">
	<h3>Total score</h3>
	<strong>
		{{ round(sum(questionWeights), 1) }}
	</strong>
</section>

<section>
	<h2>Stats</h2>

	<table>
		<thead>
			<tr>
				<th>Template</th>
				<th>Question count</th>
				<th>Score/question</th>
				<th>Score</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="(questions, template) in questionsByTemplate">
				<td>
					<details>
						<summary>{{ template }}</summary>
						<ul>
							<li v-for="question in questions">{{ question.id }}{{ question.options ? ` (${question.options.length} options)` : '' }}</li>
						</ul>
					</details>
				</td>
				<td>{{ questions.length }}</td>
				<td>{{ templateWeight(template) }}</td>
				<td>{{ round(sum(questions.map((q, i) => questionWeight(q)))) }}</td>
			</tr>
		</tbody>
	</table>
</section>
</body>
</html>